@tailwind base;
@tailwind components;
@tailwind utilities;

/* home css starts */
img{
    max-width: 100%;
}
.home-div {
    background-image: url("https://i.postimg.cc/mghLRCC9/Rectangle-1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    position: relative;
    z-index: 1;
}

.home-div::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: -1;
}

/* search field css */
#search-navbar::placeholder {
    color: white;
}

/* home css ends */
/* carousel css */
.carousel-active{
    @apply border-2 rounded-lg border-yellow-400
}